Username list

In [47]:
username = ['aww','aww2','aww3']
type(username)
len(username)
print(username[0])
print(len(username[-1]))

aww
4

Letter checker and string reverse

In [48]:
phrase1 = 'Clean Couch'
phrase2 = 'Giant Table'

phrase1[0] == phrase2[0]

False

In [49]:



my_string1 = 'This is a short phrase'
my_string2 = 'This is actually a significantly longer phrase than the previous one'

def  reverse_string(s):
    words = s.split(' ') # this splits a string based on space into a list. Could also use list 
    string =[] # create empty list to store the reversed list
    for word in words:
        string.insert(0, word) # insert each item of the list (words) at the first index of the new empty string (string). This effectively reverses the order
    return print(" ".join(string)) # this joins them back nto a string but with a space inbetween

reverse_string(my_string1)
reverse_string(my_string2)

phrase short a is This
one previous the than phrase longer significantly a actually is This

List elements

In [50]:
list_1 = ['aww',1,1.2,'aww 2',5]
list_2 = [0]*10
list_3 = [list_1,list_2]
print(list_3)

list_4 = [list_3[0][4] , list_3[1][4]]
print(list_4)

[['aww', 1, 1.2, 'aww 2', 5], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
[5, 0]

In [80]:
# Python3 code to demonstrate
# Extracting numbers from list of strings
# using join() + isnumeric() + list comprehension + map()

# initializing list
test_list = ["G06 WTR", "WL11 WFL", "QW68 PQR"]

# printing original list
print("The original list : " + str(test_list))

# using join() + isnumeric() + list comprehension + map()
# Extracting numbers from list of strings
res = list(map(lambda sub:int(''.join(
	[ele for ele in sub if ele.isnumeric()])), test_list))

# print result
print("The list after Extracting numbers : " + str(res))
[int(test_list) for item in test_list]

The original list : ['G06 WTR', 'WL11 WFL', 'QW68 PQR']
The list after Extracting numbers : [6, 11, 68]

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [79]:
number_plates = ["G06 WTR", "WL11 WFL", "QW68 PQR"]

# printing original list
print("The original list : " + str(number_plates))

# using list comprehension + split()
# Extracting numbers from list of strings
res = [int(sub.split('.')[1]) for sub in number_plates]
# print result
print("The list after Extracting numbers : " + str(res))

The original list : ['G06 WTR', 'WL11 WFL', 'QW68 PQR']

IndexError: list index out of range

In [83]:
# can use set() to conver the list to setand then use operations
# differen_update() removes items that exist in both sets
#The issuperset() method returns True if a set has every elements of another set (passed as an argument). If not, it returns False.
name = ['Adam','Watson']

for i in range(len(name[0])):
    for j in range(i + 1, len(name[1])):
        Compare(name[i], name[j])

NameError: name 'Compare' is not defined

Multiply list items

In [84]:
list_1 = [0]*10
print(list_1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [33]:
set_a = {'a', 'b', 'c', 'd'}
set_b = {'b', 'c', 'd', 'e'}

#print(set_a.union(set_b))
#print(set_a.intersection(set_b))
print(set_a.difference(set_b)) 
print(set_b.difference(set_a))
#print(set_a.symmetric_difference(set_b))
#print(set_b.symmetric_difference(set_a))

set_c = {'a', 'b', 'c', 'd','e', 'f', 'g', 'd'}
set_d = {'b', 'c', 'd', 'e'}

#print(set_c.union(set_c.intersection(set_d)))

#set_1 = {1, 2, 3, 4, 5}
#set_2 = {2, 4}
#set_3 = {2}

#print(set_1.issuperset(set_1) is True)
#print(set_1.issuperset(set_2) is True)
#print(set_2.issuperset(set_1) is True)
#print(set_2.issuperset(set_3) is True)
#print(set_1[0:4].issuperset(set_2) is True)
#print(set_1[0:4].issuperset(set_3) is True)

{'a'}
{'e'}

In [13]:
fruits = ['banana', 'pineapple', 'apple', 'orange', 'strawberry']

#sorted(fruits, reverse=True) # YES This sorts in reverse alhanurmeic order
#fruits.reverse() # NO This just reverses order
#fruits.sort() # NO This sorts in alphanrumeric order
#fruits.sort(reverse=True) # YES this sorts in reverse order alphanumerically
#fruits.sorted() # NO this errors because sorted is a function and all paramters go inside the brackets
#fruits.sorted(reverse=True) # NO this errors because sorted is a function and all paramters go inside the brackets
print(fruits)

['banana', 'pineapple', 'apple', 'orange', 'strawberry']

In [21]:
arr = [[[1, 2], [3, 4]],[[5, 6], [7, 8]]]

print(arr[1][0][1])
print(arr[-2][0][1])
print(arr[-1][0][1])
print(arr[-1][0][0])
print(arr[1][-2][1])
print(arr[-1][0][-2])

6
2
6
5
6
5

In [26]:
fruits = {'apple', 'banana', 'cherry'}
#fruits.add('durian') # YES the add function adds to a list unless it already exists
#fruits+'durian' # NO this causes an error as this operand cannot be used wiht sets
#fruits + {'durian'} # NO this causes an error as this operand cannot be used wiht sets
#fruits_2 = {'banana', 'cherry', 'durian'}, fruits.update(fruits_2) # NO this causes an error as this operand cannot be used wiht sets
print(fruits)

{'apple', 'cherry', 'banana'}